.heatmap-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.heatmap-canvas {
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
